body {
  background: #272727;
  margin: 0;
  font-family: sans-serif;
  font-size: larger;
  background: url(assets/pbg.svg);
  background-size: cover;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.search-icon{
  display: block;
  margin: 0 auto;
  text-align: center;
}
.card {
  word-wrap: break-word;
  background: linear-gradient(to right, #272727, #272727);
  color: white;
  padding: 0 !important;
  width: 16rem;
  margin: 14px;
  border-radius: 20px;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 20%), 0 4px 15px 0 rgb(0 0 0 / 19%);
  backdrop-filter: blur(10px);
}

.card h3{
  padding: 1.25rem;
}
.card a{
  text-decoration: none;
  color: white;

}
.card a:hover{
  text-decoration: underline;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  position: relative;
  bottom: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  text-decoration: underline;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.search-data{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;

}
  .container h2 {
  padding: 2px 16px;
}
.search-image{
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: 1s;
}
.search-image:hover {
  cursor: pointer;
}
.on-search-flex{
  width: 99%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}


.link{
    text-decoration: none;
    font-size: 186%;   
    position: fixed;
    margin: 20px;
}

.input{
    height: 50px;
    outline: none;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #202225;
    width: 70%
}

.input-btn{
    height: 50px;
    outline: none;
    border-radius: 0 10px 10px 0;
    width: 15%;
    padding: 10px;
    background: #8816f3;
    color: white;
    font-size: 17px;
    border: 1px solid #202225;
    border-left: none;
}

.logo{
  padding: 45px 0 0;
  position: relative;
  left: 45%;
  cursor: pointer;
}

.input-flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 26px;
  margin-right: 26px;
  margin-left: 26px;
}

.input-flex:hover{
  transition: transform 150ms;
  transform: translateY(-10px);
}
.input-btn{
  cursor: pointer;
  font-size: 26px;
}
.btns{
    margin-left: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btns button{
    margin: 16px;
    border: none;
    background: #7268f2;
    color: white;
    height: 36%;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.title-logo{
    margin: 20px;
}
.title{
  color: white;
}

.text{
    word-break: break-word;
    color: white;
}

.chaps{
    width: 204%;
    border-radius: 30px;
    background: #201d1d;
    height: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
}

.chaps a{
  padding: 20px;
  transition: 0.1ms;
}

.chaps a:hover{
    background-color: violet;
    color: #202225;
    font-size: 21px;
    height: 44px;
    line-height: 0.5px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

h4{
  padding: 0 0 14px;
}
.page{
    margin: 0 7% 0;
    width: 85%;
}

@media (max-width: 500px){
  .logo{
    left: 34%;
  }
.reader-logo{
  padding: 25px 0 0;
  }
  .page{
    width: 100%;
    margin: 0;
  }
}

.onLoad{
    display: flex;
    justify-content: center;
    align-items: center;
}

