body {
  background: #272727;
  margin: 0;
  font-family: sans-serif;
  font-size: larger;
  background-size: 100%;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card {
  word-wrap: break-word;
  background: linear-gradient(to right, #272727, #272727);
  color: white;
  padding: 0 !important;
  width: 16rem;
  margin: 14px;
  border-radius: 20px;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 20%), 0 4px 15px 0 rgb(0 0 0 / 19%);
  backdrop-filter: blur(10px);
}

.card h3{
  padding: 1.25rem;
}
.card a{
  text-decoration: none;
  color: white;

}
.card a:hover{
  text-decoration: underline;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  position: relative;
  bottom: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  text-decoration: underline;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.search-data{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;

}
  .container h2 {
  padding: 2px 16px;
}
.search-image{
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: 1s;
}
.search-image:hover {
  cursor: pointer;
}
.on-search-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: -15px;
  margin-left: -15px;
}


.link{
    position: absolute;
    text-decoration: none;
    font-size: 186%;
    border: 4px solid black;
    border-radius: 20px;
    background: black;
    color: white;
    position: fixed;
}

.input{
    outline: none;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #202225;
    width: 76%
}

.input-btn{
  outline: none;
    border-radius: 0 10px 10px 0;
    width: 20%;
    padding: 10px;
    background: #8816f3;
    color: white;
    font-size: 17px;
    border: 1px solid #202225;
    border-left: none;
}

.logo{
  position: relative;
  left: 45%;
  cursor: pointer;
}

.input-flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 26px;
  margin-right: 26px;
  margin-left: 26px;
}

.input-flex:hover{
  transition: transform 150ms;
  transform: translateY(-10px);
}
.input-btn{
  cursor: pointer;
  font-size: 26px;
}
.btns{
    margin-left: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btns button{
    margin: 16px;
    border: none;
    background: #7268f2;
    color: white;
    height: 36%;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.title{
  color: white;
  margin: 3%;
}
.disc{
    position: relative;
    left: 247px;
    bottom: 101px;
}
.text{
    word-break: break-word;
    width: 50%;
    position: relative;
    right: 22%;
    color: white;
    top: 20px;
}
.reader-logo{
  margin-left: 4%;
}
.chaps{
    position: relative;
    width: 50%;
    left: 31%;
    bottom: 236px;
    border-radius: 30px;
    background: #201d1d;
    height: 175px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
}

.chaps a{
  padding: 20px;
  transition: 0.1ms;
}

.chaps a:hover{
    background-color: violet;
    color: #202225;
    font-size: 21px;
    height: 44px;
    line-height: 0.5px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
h4{
    position: relative;
    left: 56%;
    bottom: 243px;
}

@media (max-width: 700px) {
  .text{
    right: 51%;
    width: 132%;
  }
}

@media (max-width: 375px) {
  .text{
    right: 69%;
    top: 125px;
    width: 96%;
  }
  .title{
    position: relative;
    top: 123px;
    right: 73%;
  }
  .reader-logo{
    position: absolute;
  }
  .chaps{
    border-radius: 30px;
    background: #201d1d;
    position: relative;
    height: 175px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    top: 46px;
  }
  h4{
    position: relative;
    top: 34px;
  }
}